.DS_Store
/db
/touchpay-unit/unit/database_dev.php
/touchpay-unit/unit/database_test.php
/touchpay-unit/mysql/db
/.vscode
/e2e/node_modules/
/e2e/cypress/screenshots
/e2e/cypress/videos
TouchPay.standard/app/webroot/menu/
TouchPay.standard/app/webroot/tablet
TouchPay.standard/app/webroot/user
TouchPay.standard/app/webroot/forkitchen
/touchpay-manual/site
/ssl_gen/ca*
/ssl_gen/server*
/certs
node_modules
minio
